<%= form_with(model: spy) do |form| %>
  <% if spy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spy.errors.count, "error") %> prohibited this spy from being saved:</h2>

      <ul>
        <% spy.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :mission %>
    <%= form.text_field :mission %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
